<section class="post type-post status-publish format-standard hentrycf">
  <section class="post-container">
    <section class="post-title-wrap cf post-title-wrap-no-image">
      <h2 class="post-title"><%= link_to article.title, article %></h2>
      <p class="post-date">Posted on <%= article_date(article) %></p>
    </section>

    <article class="post-content cf">
      <p>
        <%= article.summary %>
      </p>
      <a href="<%= article.url %>" class="more-link">Read more</a>
    </article>
  </section>
</section>